<!DOCTYPE html>
<html style="color: rgb(255,255,255);">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <header></header><img src="assets/img/image.png" style="width: 700px;padding: 150px 0px;"><div class="login-box">
  <h1>الدخول</h1>
  <div class="textbox">
    <i class="fas fa-user"></i>
    <input type="text" placeholder="اسم المستخدم">
  </div>

  <div class="textbox">
    <i class="fas fa-lock"></i>
    <input type="password" placeholder="كلمه السر">
  </div>

  <input type="button" class="btn" value="تسجيل الدخول">
</div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>