
server/term_labeling/scripts/dict_ex.txt
server/term_labeling/scripts/list.txt
server/term_labeling/scripts/poems.zip

server/db.sqlite3

!/__pycache__/*

server/term_labeling/__pycache__/*

server/term_labeling/__pycache__/*


server/term_labeling/scripts/dict_ex.txt

server/term_labeling/scripts/list.txt

server/term_labeling/scripts/poems.zip

server/term_labeling/scripts/poems/*


server/term_labeling/static/images/Analysis/*

server/static/images/Analysis/*




