@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');

body {
    font-family: 'Markazi Text', sans-serif;
    min-height: 100vh;
    height: 500px; /* You must set a specified height */
    /*background-image: url("img/marjanblan-5Ft4NWTmeJE-unsplash.jpg");*/
    background-color: #e1e2db; /* Used if the image is unavailable */
    /*background-position: center; !* Center the image *!*/
    /*background-repeat: no-repeat; !* Do not repeat the image *!*/
    /*background-size: cover; !* Resize the background image to cover the entire container *!*/
}



/* nav bar css */
.navbar {
    font-family: 'Katibeh', cursive;
    font-size: 1.5em;
}

