@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
* {
    direction: rtl;
}

body {
    font-family: system-ui, sans-serif;
    min-height: 100vh;
    background: white;
}

/* nav bar css */
.navbar{
    background-color: #112D32;
    font-family: 'Markazi Text', serif;
    font-size: 1.3em;
}