.container {
    font-size: 1.15em;
}

.dropbtn {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #2B7A78;
    cursor: pointer;
    min-width: 230px;
    background-color: Transparent;
    color: black;
    transition-duration: 0.4s;
}

.dropbtn:hover, .dropbtn:focus{
    outline: none;
    border: none;
    border-bottom: 2px solid #33aaaa;

}

#poetInput, #poemInput {
    box-sizing: border-box;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#poetInput:focus, #poemInput:focus {
    outline: 3px solid #ddd;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #feffff;
    /*min-width: 300px;*/
    width: auto;
    max-height: 300px;
    overflow: auto;
    border: 1px solid #6e6658;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #33aaaa;
    /*background-color: #ddd;*/
}

.show {
    display: block;
}
