@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";

* {
    direction: rtl;
}

body {
    font-family: system-ui, sans-serif;
    min-height: 100vh;
    background: #ddd;
}

/* nav bar css */

nav {
    direction: rtl;
}

.navbar-custom {
    background-color: #c0d0e7;
}

.nav-item {
    font-size: 120%;
}

/* table css */

#rowid {
    border: 1px black;
}

#poem {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
}

#poem td {
    padding: 8px;
    font-size: 1.5em;
}

.tblcheckbox {
    visibility: hidden;
}

.term:hover {
    color: cornflowerblue;
}

/* Search tags css */

#tagsDropDown {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 100px;
    max-height: 300px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    text-align: right;
}

#myUL {
    padding: 0;
    list-style-type: none;

}

#tagsDropDown li {
    color: black;
    padding: 7px;
    display: block;
    border: 1px solid #ddd;
}

#tagsDropDown li:hover {
    background-color: #ddd;
}

#tagsDropDown a{
    color: black;
    text-decoration: none;
}

/*NEW SEARCH THINGY*/

.chosen-value {
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0.2rem;
    background-color: #fafcfd;
    border: 3px solid transparent;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.chosen-value::-webkit-input-placeholder {
    color: #333;
}

.chosen-value:hover {
    background-color: #ff908b;
    cursor: pointer;
}

.chosen-value:hover::-webkit-input-placeholder {
    color: #333;
}

.chosen-value:focus, .chosen-value.open {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
    outline: 0;
    background-color: #ff908b;
    color: #000;
}

.chosen-value:focus::-webkit-input-placeholder, .chosen-value.open::-webkit-input-placeholder {
    color: #000;
}


/* Selected Tags Section Style */

.selected_container {
    border-radius: 25px;
    border: 2px solid #6666BB;
    padding: 20px;
    margin-bottom: 10px;
    max-height: 300px;
    overflow: auto;
    position: sticky;
}

.tag-btn {
    border: 1.5px solid darkslateblue;
    background: transparent;
    border-radius: 10px;
    position: relative;
    padding: 5px;
    margin: 3px;
    transition: width 0.2s ease-in-out;
    width: auto;
}

.tag-btn:hover {
    border-color: crimson;
    color: black;
    transition: all 0.2s ease-in-out;
}

/* Suggested Tags Section Style */

.suggested_container {
    border-radius: 25px;
    border: 2px solid #6666BB;
    padding: 20px;
    margin-bottom: 10px;
}

.sug-btn {
    border: 1.5px solid darkslateblue;
    background: transparent;
    border-radius: 10px;
    position: relative;
    padding: 5px;
    margin: 3px;
    transition: width 0.2s ease-in-out;
    display: block;
    width: auto;
}

.sug-btn:hover {
    border-color: cadetblue;
    color: darkslateblue;
    transition: all 0.2s ease-in-out;
}

/* tree style */
.treeview {
    float: right;
    -ms-user-select: none;
    user-select: none;
    border-radius: 25px;
    border: 2px solid #6666BB;
    padding: 20px;
    margin-bottom: 10px;
    max-height: 500px;
    overflow: auto;
    width: 266px;
}

ul.tree {
    margin: 0;
    padding: 20px 2px;
    list-style-type: arabic-indic;
    direction: RTL;
    text-align: right;
}

ul.tree li {
    list-style: none;
    margin-left: -15px;
    position: relative;
}

ul.tree li input {
    cursor: pointer;
    height: 1em;
    right: -11px;
    margin-right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 2em;
    z-index: 2;
}

ul.tree li input:checked + ul {
    height: auto;
    margin: 0 0 0 19px;
}

ul.tree li input:checked + ul:before {
    content: "\f068";
    font-family: Fontawesome, serif;
    font-size: 15px;
    right: -3px;
    top: 3px;
    position: absolute;
}

ul.tree li input:checked + ul > li {
    display: block;
    left: 3px;
    margin: 0 0 -3px;
}

ul.tree li input:checked + ul > li last-child {
    margin: 0 0 -0.063em;
}

ul.tree li input + ul {
    padding: 0 0 0 -39px;
}

ul.tree li input + ul:before {
    content: "\f067";
    font-family: Fontawesome, serif;
    font-size: 15px;
    right: -3px;
    top: 3px;
    position: absolute;
}

ul.tree li input + ul > li {
    display: none;
    margin-right: 10px;
    padding-right: 1px;
}

ul.tree li label {
    cursor: pointer;
    margin-bottom: 0;
    margin-right: 17px;
}

ul.tree > li {
    margin-right: 1px !important;
}

ul.tree > li a {
    color: #606061;
    display: block;
    text-decoration: none;
}

ul.tree > li a:before {
    content: "";
    display: block;
    float: right;
    font-family: Fontawesome, serif;
    font-size: 15px;
    margin-left: -5px;
}

ul.tree > li > a:before {
    content: "\f0c9";
    display: block;
    float: right;
    font-family: Fontawesome, serif;
    font-size: 15px;
    margin-left: -5px;
}

ul.tree > li > a > label {
    margin-right: 0;
}

ul.tree > li > ul > li > a > label:before,
ul.tree > li > ul > li > ul > li > a > label:before {
    content: "\f0c9";
    display: block;
    position: absolute;
    font-family: Fontawesome, serif;
    font-size: 15px;
    right: -3px;
    top: 3px;
}

/* RIGHT CLICK THINGY */
#context-menu {
    display: none;
    position: absolute;
    border: 1px solid black;
    border-radius: 3px;
    width: 200px;
    background: white;
    box-shadow: 10px 10px 5px #888888;
}
