.history {
    padding: 20px;
    font-size: large;
}

.history.user{
}

.history.admin{
    background-color: #e1e2d6;
}

header {
    /*background-image: url("img/index_bg.jpg");*/
    background-color: aliceblue;
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;
    color: #65092e;
}

