{% extends "base.html" %}

{% block content %}
<hr>
{% if data %}
{{data | safe}}
{% endif %}
<form action="{% url 'script1' %}" method="post">
    {% csrf_token %}
    Input Text:
    <input type="text" name="param" required><br><br>
    {{data_external}}<br><br>
    {{data1}}
    <br><br>
    <input type="submit" value="Execute Definitoin Script">
</form>
<form action="{% url 'script2' %}" method="post">
    {% csrf_token %}
    Input Text:
    <input type="text" name="param1" required><br><br>
    {{data_external}}<br><br>
    {{data2}}
    <br><br>
    <input type="submit" value="Execute Tag Script">
</form>
{% endblock content %}