{% extends "base.html" %}
{% load static %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{% static 'term_labeling/main_tags_style.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'term_labeling/style.css'%}">

<script>
    $(document).ready(function () {
        const obj = document.getElementById("1link");
        const clickedItem = $(obj);
        $(".nav-link").each(function () {
            $(this).removeClass("text-dark");
        });
        clickedItem.addClass("text-info");
    });
</script>
{% endblock stylesheets %}


{% block content %}


<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <img src="{% static 'term_labeling/img/logo_transparent.jpg' %}" alt="WTCAP_logo" width="300"
                     height="400">
                <h1 class="font-weight-light">Word Tagging for Classical Arabic Poetry</h1>
            </div>
        </div>
    </div>
</header>

<!-- User History -->
{% if user.is_authenticated %}
<div class="container-fluid text-center history user">
    <h1 class="font-weight-light">Your History</h1>
    {% if history == 'No data' %}
    <div class="panel panel-info">
        <div class="panel-heading">No History Available</div>
        <div class="panel-body">Start tagging poems and you'll see your history here!</div>
    </div>
    {% else %}
    {% for his in history %}
    <p>we have history</p>
    {% endfor %}
    {% endif %}
</div>
{% endif %}

<!-- Admin sees history for all users -->
{% if user.is_superuser %}
<div class="container-fluid text-center history admin">
    All User history here - admin only
</div>
{% endif %}

<!-- Page Content -->
<section class="py-5">
    <div class="container">
        <h2 class="font-weight-light">Our Purpose</h2>
        <p>A system that aims to identify metaphors in classical Arabic poetry by automatically tagging words in a song
            and using a hierarchy of tags to identify attachments that are suspected of metaphor
        </p>
    </div>
</section>

{% endblock content %}


{% block scripts %}
<script src="{% static 'term_labeling/indexjs.js' %}"></script>
{% endblock %}