{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'term_labeling/style.css'%}">

<script>
    $(document).ready(function () {
        const obj = document.getElementById("1link");
        const clickedItem = $(obj);
        $(".nav-link").each(function () {
            $(this).removeClass("text-dark");
        });
        clickedItem.addClass("text-info");
    });
</script>
<style>
    header {
        height: 100vh;
        min-height: 500px;
        background-image: url("../static/term_labeling/img/index_bg.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>
{% endblock stylesheets %}


{% block content %}

<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <img src="{% static 'term_labeling/img/logo_transparent.jpg' %}" alt="WTCAP_logo" width="300"
                     height="400">
                <h1 class="font-weight-light">Word Tagging for Classical Arabic Poetry</h1>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<section class="py-5">
    <div class="container">
        <h2 class="font-weight-light">Our Purpose</h2>
        <p>A system that aims to identify metaphors in classical Arabic poetry by automatically tagging words in a poem and using a hierarchy of tags to identify attachments that are suspected of metaphor.</p>
    </div>
</section>

{% endblock content %}