{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<script src="{% static 'term_labeling/mainpagejs.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'term_labeling/main_tags_style.css'%}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
{% endblock stylesheets %}


{% block content %}
<div id="context-menu" class="context-menu">
    <a href="#" onClick="suggestionRightClick(this)">
        <img src="{% static 'term_labeling/img/search.png' %}" alt="Search icon"/> Find in hierarchy
    </a>
    <input type='hidden' value='' id='txt_id'>
</div>

<div class="container" onload="initialize_index()">
    <br>
    <div class="page-header">
        <h1>Poem Selection Example</h1>
    </div>
    <br>
    <div class="row">
        <!-- Tags Section -->
        <div class="col-sm-4 px-lg-5" id="fixed_cont">
            <!-- Selected Tags Section-->
            <div class="double-border selected_container">
                <h5> Selected Tags </h5>
            </div>

            <!-- Suggested Tags Section-->
            <div class="double-border suggested_container">
                <h5> Suggested Tags </h5>
            </div>

            <!-- Tree Section -->
            <div class="double-border treeview">
                <h5> Tags </h5>

                <input type="text" id="mySearchInput" onclick="$('#tagsDropDown').toggle();" onkeyup="filterSearch()"
                       placeholder="إبحث..."
                       title="إبحث...">
                <div id="tagsDropDown">
                    <ul id="myUL">
<!--                    {% for tag in all_tags %}-->
<!--                    <li><a href="#" onclick="searchTag(this)"> {{ tag }} </a></li>-->
<!--                    {% endfor %}-->
                    </ul>

                </div>
                <ul class="tree">
                </ul>
                <p> {{'------'}} </p>
                <div>
                    <input type="text" id="newTag" placeholder="addtag.." name="addtag" style="width:150px">
                    <button type="button"><i class="fa fa-check-square" aria-hidden="true"
                                             onclick="submit_clicked()"></i></button>
                </div>
            </div>
        </div>

        <!-- Poem Section -->
        <div class="col-sm-8">
            <table class="table table-striped table-hover" id="poem">
                {% for poem in poems.context %}
                <tr>
                    <td>
                        <input type="checkbox" name="{{ forloop.counter }}" value="{{ forloop.counter }}"
                               id="{{ forloop.counter }}" class="tblcheckbox"
                               onchange="box_checked(this, this.value)"/>
                        <label for="{{ forloop.counter }}"> {{ poem.row_index }} </label>
                    </td>
                    <td>
                        <label for="{{ forloop.counter }}"> {{ poem.sadr }} </label>
                    </td>
                    <td>
                        <label for="{{ forloop.counter }}"> {{ poem.ajuz }} </label>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>
</div>

{% endblock content %}


