{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<script src="{% static 'term_labeling/statistics.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'term_labeling/statistics_style.css'%}">

<!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
<!--<script src='https://kit.fontawesome.com/a076d05399.js'></script>-->
{% endblock stylesheets %}


{% block content %}
<div class="container">
    <br>
    <div class="page-header">
        <h1>Statistics</h1>
        </div>
    <br>
         <div class="dropdown">
          <label >Choose a </label>
          <input type="button" class="dropbtn" value="Period">
             <label > to generate WordCloud </label>
          <div class="dropdown-content">
             {% for p in periods %}
                <a href="#" id="{{ p }}" onclick ="createWordCloud(this,event)"> {{ p }} </a>
              {% endfor %}
          </div>
        </div>
        <div id="cloud"><img src="{% static 'term_labeling/img/World_cloud.PNG'%}"style="margin-left:80px; margin-top:20px" width="900" height="500" left="100px"></div>

</div>
        <div id ="loader" class="bookshelf_wrapper">
          <ul class="books_list">
            <li class="book_item first"></li>
            <li class="book_item second"></li>
            <li class="book_item third"></li>
            <li class="book_item fourth"></li>
            <li class="book_item fifth"></li>
            <li class="book_item sixth"></li>
          </ul>
          <div class="shelf"></div>
        </div>

{% endblock content %}

